bin
obj
tmp
CppCheckResults.xml
*.save
mem.db
CMakeCache.txt
CMakeFiles
cmake_install.cmake
getmyad.cscope_file_list
config.log
*~
.deps
*.o
autom4te.cache
config.status
config.guess
config.sub
worker.cscope_file_list
worker.layout
worker_logtest
workerd
workerd-dev
workerd-dummy-dev
configure.scan
stamp-h1
*.swp
autoscan*.log
ValgrindOut.xml
login
mq.py
kill
*.1
libs/libredis/lib/
install/md5sum
*.saved
debian
doc
com
config.h.in
Makefile.in
Makefile
config.h
configure
libtool
