<?xml version="1.0"?>
<root id="0">
<!--настройки сервера-->
<server>
    <!--IP сервера. Ссылка на редирект по рекламному предложению содержит в себе адрес сервера, который её создал-->
    <ip>10.0.0.125</ip>
    <lock_file>/tmp/workerd/lock</lock_file>
    <pid_file>/tmp/workerd/pid</pid_file>
    <user>alex</user>
    <!--путь к файлу сокета-->
    <socket_path>/tmp/workerd/sock</socket_path>
    <!--количество ниток-->
    <children>13</children>

    <!--путь к очереди сообщений-->
    <mq_path>guest:guest@localhost//</mq_path>

    <!--путь к фалу базы данных sqlite или :memory:-->
    <sqlite>
        <!--файл базы-->
        <!--db>:memory:</db-->
        <db>/run/alex/db</db>
        <!--путь к каталогу дампа sqlite базы-->
        <schema>db_dump</schema>
        <!--путь к csv файлу содержимого таблицы GeoRerions-->
        <geo_csv>db_dump/UA_RU</geo_csv>
    </sqlite>

    <!--Путь к файлу базы данных MaxMind GeoIP City Edition-->
    <geocity_path>/usr/share/GeoIP/GeoLiteCity.dat</geocity_path>

    <cookie>
        <name>YSID</name>
        <domain>yottos.com</domain>
        <path>/</path>
    </cookie>

    <!--Название скрипта обработки редиректа-->
    <redirect_script>/redirect</redirect_script>

    <templates>
        <!-- Шаблон информера с тизерами со следующими подстановками (существовавший шаблон):
            %1%	    CSS
        %2%	    JSON для initads (предложения, которые должны показаться на первой странице)
        %3%	    количество товаров на с транице
        %4%	    ссылка на скрипт получения следующей порции предложений в jso-->
        <teaser>template/teaser.html</teaser>
        <!-- Шаблон информера с баннером со следующими подстановками:
         %1%	    CSS
         %2%	    swfobject
         %3%	    JSON initads-->
        <banner>template/banner.html</banner>
        <error>template/error.html</error>
        <swfobject>template/swfobject.js</swfobject>
    </templates>

    <!--время обновление временных кампаний(HH:MM:SS)-->
    <time_update>00:05:00</time_update>
</server>

<!--ретаргетинг-->
<retargeting>
    <!--представление, в процентах, в исходящей выборке-->
    <persents>50</persents>
    <!--Redis-сервер с БД о Ретаргетинге-->
    <redis>
            <!--IP-адрес-->
            <host>127.0.0.1</host>
            <!--порт-->
            <port>6380</port>
    </redis>
    <!--период жизни(ЧЧ:ММ:СС)-->
    <ttl>06:00:00</ttl>
    <!--выдерживать уникальность кампаний в исходящей выборке-->
    <unique_by_campaign>false</unique_by_campaign>
</retargeting>

<!--история-->
<history>
    <!--количество предложений одной кампании в блоке(1..100)-->
    <offer_by_campaign_unique>2</offer_by_campaign_unique>
    <!--история показа-->
    <views>
        <ttl>10:00:00</ttl>
        <!--Redis-сервер с БД о истории показов пользователя-->
        <redis>
            <!--IP-адрес-->
            <host>127.0.0.1</host>
            <!--порт-->
            <port>6377</port>
        </redis>
    </views>
    <!--кратскосрочная история-->
    <short_term>
        <!--Весовая финкция(умножается на максимальный рейтинг выборки)
                0 - отключить
                1 - максимальный рейтинг
        -->
        <value>0</value>
        <ttl>24:00:00</ttl>
        <!--Redis-сервер с БД о краткосрочной истории пользователя-->
        <redis>
            <!--IP-адрес-->
            <host>127.0.0.1</host>
            <!--порт-->
            <port>6379</port>
        </redis>
    </short_term>
    <!--долгосрочная история-->
    <long_term>
        <!--Весовая финкция(умножается на максимальный рейтинг выборки)
                0 - отключить
                1 - максимальный рейтинг
        -->
        <value>0</value>
        <!--Redis-сервер с БД о долгосрочной истории пользователя-->
        <redis>
            <!--IP-адрес-->
            <host>127.0.0.1</host>
            <!--порт-->
            <port>6378</port>
        </redis>
    </long_term>
    <!--контекст страницы-->
    <context>
        <!--Весовая финкция(умножается на максимальный рейтинг выборки)
                0 - отключить
                1 - максимальный рейтинг
        -->
        <value>0</value>
        <!--"Продолжительность жизни" ключей в базе истории контекста страницы-->
    </context>
    <!--поисковым запросам пользователя страницы-->
    <search>
        <!--Весовая финкция(умножается на максимальный рейтинг выборки)
                0 - отключить
                1 - максимальный рейтинг
        -->
        <value>0</value>
    </search>
</history>

<!--Параметры подключения к базам данных-->
<mongo>
    <!--Параметры подключения к основной базе данных-->
    <main>
        <!--Адрес сервера баз данных-->
        <host>212.113.32.146:27018</host>
        <host>212.113.32.147:27018</host>
        <host>srv-1.yottos.com:27017</host>
        <host>srv-2.yottos.com:27018</host>
        <host>srv-3.yottos.com:27018</host>
        <!--Название базы данных-->
        <db>getmyad_db</db>
        <!--Название группы реплик (если база данных находится в Replica Set)-->
        <!--set></set-->
        <set>vsrv</set>
        <!--Может ли сервис подключаться к slave серверам базам данных.
        Это балансирует нагрузку в режиме только для чтения, но появляется
        вероятность чтения не самых свежих данных (разница от мастера до
        нескольких секунд).-->
        <slave>true</slave>

        <login></login>
        <passwd></passwd>
    </main>
    <!--Параметры подключения к базе данных журнала-->
    <log>
        <!--Адрес сервера баз данных-->
        <host>10.0.0.8:27017</host>
        <host>10.0.0.8:27018</host>
        <host>10.0.0.8:27019</host>
        <!--Название базы данных-->
        <db>worker_log</db>
        <!--Название группы реплик (если база данных находится в Replica Set)-->
        <set>vsrv</set>
        <!--Может ли сервис подключаться к slave серверам базам данных.
        Это балансирует нагрузку в режиме только для чтения, но появляется
        вероятность чтения не самых свежих данных (разница от мастера до
        нескольких секунд).-->
        <slave>false</slave>

        <login></login>
        <passwd></passwd>

        <collection>log.impressions</collection>
    </log>
</mongo>

<sphinx>
    <!--host>213.186.121.76</host-->
    <host>127.0.0.1</host>
    <port>9312</port>
    <index>worker</index>
    <!--all from /usr/include/sphinxclient.h-->
    <mach_mode>SPH_MATCH_EXTENDED2</mach_mode>
    <rank_mode>SPH_RANK_SPH04</rank_mode>
    <sort_mode>SPH_SORT_RELEVANCE</sort_mode>
    <fields>
        <title>80</title>
        <description>30</description>
        <!--keywords>70</keywords-->
        <!--exactly_phrases>100</exactly_phrases-->
        <!--phrases>90</phrases-->
        <!--minuswords>100</minuswords-->
    </fields>
    <min_offres_process>10</min_offres_process><!-- 20 default value -->
</sphinx>

<log>
    <coretime>1</coretime>
    <outsize>1</outsize>
    <ip>1</ip>
    <country>0</country>
    <region>0</region>
    <cookie>0</cookie>
    <context>0</context>
    <search>0</search>
    <informerId>0</informerId>
    <location>0</location>
    <sphinx>1</sphinx>
    <RetargetingOfferIds>1</RetargetingOfferIds>
    <OutPutOfferIds>1</OutPutOfferIds>
</log>

</root>
