<?xml version="1.0"?>
<root id="0">
<!--IP сервера. Ссылка на редирект по рекламному предложению содержит в себе адрес сервера, который её создал-->
<server_ip>127.0.0.1</server_ip>
<!--Название скрипта обработки редиректа-->
<redirect_script></redirect_script>
<!--Путь к файлу базы данных MaxMind GeoIP City Edition-->
<geocity_path></geocity_path>
<!--"Продолжительность жизни" ключей в базе краткосрочной истории-->
<shortterm_expire>864000</shortterm_expire><!--24 hours default-->
<!--"Продолжительность жизни" ключей в базе истории контекста страницы-->
<views_expire>864000</views_expire><!--24 hours default-->
<!--"Продолжительность жизни" ключей в базе истории просмотров пользователя-->
<context_expire>864000</context_expire><!--24 hours default-->
<!--Название папки, в которой находится индекс по рекламным предложениям-->
<folder_offer>/var/www/indexOffer</folder_offer>
<!--Название папки, в которой находится индекс по информерам и рейтингам РП внутри этих информеров-->
<folder_informer>/var/www/indexInformer</folder_informer>
<!-- -->
<retargeting_by_persents>50</retargeting_by_persents>
<!--период жизни ретаргетинга(ЧЧ:ММ:СС)-->
<retargeting_by_time>06:00:00</retargeting_by_time>

<!--Весовые коэффициенты-->
<range>
    <!--соответствующих ключевым словам-->
    <query>1</query>
    <!--соответствующих кратскосрочной истории-->
    <short_term>0.75</short_term>
    <!--соответствующих долгосрочной истории-->
    <long_term>0.5</long_term>
    <!--соответствующих контексту страницы-->
    <context>0.8</context>
    <!--соответствующих контексту страницы-->
    <context_term>0.70</context_term>
    <!--соответствующих "рекламе на места"-->
    <on_places>0.1</on_places>
</range>
<!--Параметры подключения к базам данных-->
<mongo>
    <!--Параметры подключения к основной базе данных-->
    <main>
        <!--Адрес сервера баз данных-->
        <host>213.186.121.76:27018</host>
        <!--Название базы данных-->
        <db>getmyad_db</db>
        <!--Название группы реплик (если база данных находится в Replica Set)-->
        <set></set>
        <!--Может ли сервис подключаться к slave серверам базам данных.
        Это балансирует нагрузку в режиме только для чтения, но появляется
        вероятность чтения не самых свежих данных (разница от мастера до
        нескольких секунд).-->
        <slave>false</slave>
    </main>
    <!--Параметры подключения к базе данных журнала-->
    <log>
        <!--Адрес сервера баз данных-->
        <host>localhost</host>
        <!--Название базы данных-->
        <db>getmyad</db>
        <!--Название группы реплик (если база данных находится в Replica Set)-->
        <set></set>
        <!--Может ли сервис подключаться к slave серверам базам данных.
        Это балансирует нагрузку в режиме только для чтения, но появляется
        вероятность чтения не самых свежих данных (разница от мастера до
        нескольких секунд).-->
        <slave>false</slave>
    </log>
</mongo>
<!--Redis-сервера-->
<redis>
    <!--Redis-сервер с БД о краткосрочной истории пользователя-->
    <short_term_history>
        <!--IP-адрес-->
        <host>127.0.0.1</host>
        <!--порт-->
        <port>6379</port>
    </short_term_history>
    <!--Redis-сервер с БД о долгосрочной истории пользователя-->
    <long_term_history>
        <!--IP-адрес-->
        <host>127.0.0.1</host>
        <!--порт-->
        <port>6378</port>
    </long_term_history>
    <!--Redis-сервер с БД о истории показов пользователя-->
    <user_view_history>
        <!--IP-адрес-->
        <host>127.0.0.1</host>
        <!--порт-->
        <port>6377</port>
    </user_view_history>
    <!--Redis-сервер с БД о контексте страниц-->
    <page_keywords>
        <!--IP-адрес-->
        <host>127.0.0.1</host>
        <!--порт-->
        <port>6376</port>
    </page_keywords>
    <!--Redis-сервер с БД о категориях-->
    <category>
        <!--IP-адрес-->
        <host>127.0.0.1</host>
        <!--порт-->
        <port>6375</port>
    </category>
    <!--Redis-сервер с БД о Ретаргетинге-->
    <retargeting>
        <!--IP-адрес-->
        <host>127.0.0.1</host>
        <!--порт-->
        <port>6380</port>
    </retargeting>
</redis>

<sphinx>
    <host>localhost</host>
    <port>9312</port>
</sphinx>

<!--настройки сервера-->
<server>
    <!--путь к файлу сокета-->
    <socket_path>/tmp/workerd.sock</socket_path>
    <!--количество ниток на обработку-->
    <children>1</children>
    <!--путь к фалу базы данных-->
    <dbpath>/run/alex/mem.db</dbpath>
    <!--dbpath>:memory:</dbpath-->
    <!--путь к каталогу дампа sqlite базы-->
    <db_dump_path>/home/alex/Projects/worker/db_dump</db_dump_path>
    <!--путь к csv файлу содержимого таблицы GeoRerions-->
    <db_geo_csv>/home/alex/Projects/worker/db_dump/region.csv</db_geo_csv>
    <!-- Шаблон информера с тизерами со следующими подстановками (существовавший шаблон):
        %1%	    CSS
	%2%	    JSON для initads (предложения, которые должны показаться на первой странице)
	%3%	    количество товаров на с транице
	%4%	    ссылка на скрипт получения следующей порции предложений в jso-->
    <template_teaser>/home/alex/Projects/worker/template/teaser.html</template_teaser>
    <!-- Шаблон информера с баннером со следующими подстановками:
	 %1%	    CSS
	 %2%	    swfobject
	 %3%	    JSON initads-->
    <template_banner>/home/alex/Projects/worker/template/banner.html</template_banner>
    <swfobject>/home/alex/Projects/worker/template/swfobject.js</swfobject>

    <geoGity>/usr/share/GeoIP/GeoLiteCity.dat</geoGity>
    <cookie_name>yottos_unique_id</cookie_name>
    <cookie_domain>.yottos.com</cookie_domain>
    <cookie_path>/</cookie_path>
<!--
    <lock_file>/var/run/worker.lock</lock_file>
    <pid_file>/var/run/worker.pid</pid_file>
-->
    <lock_file>/tmp/worker.lock</lock_file>
    <pid_file>/tmp/worker.pid</pid_file>
    <user>alex</user>
</server>

</root>
